body
{
    margin-left: 50px;
    margin-top: 50px;
}

.field-text
{
    width: 200px;
    text-align: center;
}

.search_button
{
    margin-left: 100px;
    margin-bottom: 10px;
    width: 300px;
}

button
{
    
}

#search_table
{
    margin-left: 100px;
}

#submit_button
{
    margin-bottom: 10px;
    width: 300px;   
}

#addr
{
    margin-left: 100px;
    width: 500px;
    margin-bottom: 10px;
}



